/* Background */
.contact-container {
  /* width: 100%;
  background: #bfbfbf; */
  border-radius: 20px;
  padding: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

/* Title */
.contact-title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
  color: black;
}

/* Content Wrapper */
.contact-content {
  display: flex;
  flex-direction: row-reverse;
  /* Icons left, Form right */
  justify-content: center;
  gap: 50px;
  width: 100%;
}

/* Icons Section */
.icons-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.icon-box {
  background: white;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: black;
  transition: 0.3s;
  cursor: pointer;
  box-shadow: 2px 2px 6px #555;
}

.icon-box:hover {
  background: black;
  color: white;
  transform: scale(1.1);
}

/* Form Section */
.form-section {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Centers the submit button */
}

.input-box {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  background: #f3eded;
  box-shadow: 2px 2px 6px #777;
}

.textarea-box {
  width: 100%;
  height: 160px;
  padding: 15px;
  border-radius: 10px;
  border: none;
  background: #f3eded;
  resize: none;
  box-shadow: 2px 2px 6px #777;
  margin-bottom: 25px;
}

.submit-btn {
  padding: 12px 35px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 2px 2px 6px #555;
}

.submit-btn:hover {
  transform: scale(1.05);
}

/* -------------------------------- */
/*           MOBILE VIEW            */
/* -------------------------------- */
@media (max-width: 768px) {

  .contact-content {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    color: black
  }

  .form-section {
    width: 100%;
    text-align: center;
  }

   .input-box,
  .textarea-box {
    color: black;
  }

  .icons-section {
    flex-direction: row;
    justify-content: center;
  }

  .submit-btn {
    width: 50%;
  }

  .input-box,
  .textarea-box {
    color: black;
  }
}

@media (max-width: 500px) {
  .submit-btn {
    width: 100%;
  }

  /* .contact-content {
    color: black
  } */

  .input-box,
  .textarea-box {
    color: black;
  }
}
