/* Card Styles */
.project-card {
    background: white;
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
    text-align: left;
    /* margin-left: -10px; */
}

/* Grey image placeholder */
.project-img {
    width: 100%;
    height: 170px;
    background: #dcdcdc;
    border-radius: 15px;
    margin-bottom: 20px;
}

.project-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    color: black;
    z-index: 1;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* MORE button */
.more-btn {
    background: black;
    color: white;
    padding: 12px 30px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.more-btn:hover {
    transform: scale(1.05);
}

/* Mobile */
@media (max-width: 520px) {
    .project-card {
        width: 100%;
        /* Use full width available in grid cell */
        margin: 0 auto;
        /* Center it */
        /* margin-left: 30px; Removed to fix alignment */
    }

    .project-name {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
    color: black;
    z-index: 1;
}
}